nz-layout{
    margin: 0;
    padding: 0;
    background-color: white;
}

.layout-content {
    float:left;
    width: calc(100% - 300px);
}

.content {
    overflow-y: auto;
}

.layout{
    height: 100%;
}

nz-header{
    position:fixed;
    width: 100%;
    border: 1px solid rgb(235, 237, 240);
    height: 70px;
    padding: 0;
    z-index: 100;
}

nz-content{
    padding:30px 30px;
    margin-top: 64px;
}

.cards-container {
    margin-top: 0;
    padding: 0;
}

nz-footer{
    padding: 12px 50px;
    width: 100%;
    margin: 0;
    text-align: center;
}

app-profile{
    float: left;
    margin-bottom: 20px;
    padding-right: 20px;
}

app-submission{
    float: left;
    margin-bottom: 20px;
    padding-right: 30px;
    width: 300px;
}